header{ /* Verschillende afstanden voor margin, gelijk voor links en rechts*/
    text-align: center;
    padding: 30px;
    border: 4px solid rgb(223, 17, 223);
    margin: 30px 60px 60px;
}
body{ /*Verschillende afstanden voor margin*/
    color: rgb(4, 112, 107);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border: 2px solid rgb(223, 17, 223);
    margin: 10px 30px 30px 40px ;
}
main{
    padding: 10px;
    border:2px solid steelblue;
    margin: 10px 10px 30px;
}
.middenpink{ /*uitlijnen in het midden--*/
    margin: 0 auto;
    width: 200px;
    border: 3px solid rgb(223, 17, 223);
    background-color: rgb(208, 159, 211);
        line-height: 200%;
}
img{
   	padding: 4px; 
    background-color: #fcfcfc;
    border: 1px solid #999;
    margin: auto;
}
figcaption{
    font-style:italic;
}
.quote{ /*shorthand notatie van margin*/
    font-style: italic;    
    color: #999;
    padding-left: 1em;
    border-left: 2px solid #999;
    margin: 20px 10px;
}
/* werkt met floating list items */
nav ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    background-color: rgb(208, 159, 211);
    }

nav ul li a{
    display: block;
    padding: 8px;
    background-color: thistle;
    margin: 1px;
    text-decoration: none;
    width: 150px;
    }

nav ul li a:hover{
    background-color: violet;
}

.active{
    background-color: rgb(9, 156, 149);

}

form input{
        display: block;
}
input type = "radio"{
    display: inline-block;
}
form textarea{
    display: block;
}

@media (min-width: 1024px){
   body{ 
       background-color:beige;
       color: black;
       font-size: small;
       line-height: 1.5em;
}
}